*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f6f7f8;
  border-radius: 10px;
  border: solid 2px #a8a8a8;
}

*::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 10px;
  border: 2px solid #bbc3ba;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #29abe2;
}

body {
  background-color: #f6f7f8;
  font-family: "Inter";
  margin: 0;
}


.section_Summary {
  overflow: auto;
  height: calc(100vh - 96px);
}

.summary_headline {
  display: flex;
  margin-left: 328px;
  margin-top: 30px;
  gap: 30px;
  align-items: center;
}

.summary_headline h1 {
  font-size: 61px;
  font-weight: 700;
}

.summary_headline img {
  height: 59px;
}

.summary_headline p {
  font-size: 27px;
  font-weight: 400;
}

.board_link {
  text-decoration: none;
  color: #2a3647;
}

.summary_content {
  display: flex;
  margin-top: 30px;
  margin-left: 328px;
  width: 560px;
  height: 562px;
  flex-direction: column;
}

.section_one {
  display: flex;
  gap: 30px;
  top: 370px;
  top: 300px;
}

.todo_number {
  width: 264px;
  height: 168px;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  gap: 18px;
  align-items: center;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.todo_number:hover {
  background-color: #2a3647;
  color: #ffffff;
  transform: scale(1.05);
}
.todo_number:hover .edit_png {
  background-color: #ffffff;
}

.todo_number:hover .edit_png_1 {
  background-color: #ffffff;
}

.todo_number:hover .edit_png svg {
  fill: #2a3647;
}

.edit_png {
  background-color: #2a3647;
  display: inline-block;
  width: 69px;
  height: 69px;
  border-radius: 35px;
}
.edit_png_1 {
  background-color: #2a3647;
  display: inline-block;
  width: 69px;
  height: 69px;
  border-radius: 35px;
}

.todo_number:hover .edit_png_1 path {
  stroke: #2a3647;
}

.todo_number svg {
  width: 32px;
  height: 32px;
  margin-left: 18.5px;
  margin-top: 18.5px;
}

.todoNumber {
  text-align: center;
  margin-bottom: 50px;
}

.number {
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 0px;
  line-height: 76.8px;
}

.todo {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.section_two {
  margin: 30px 0;
}
.section_two_style:hover {
  background-color: #2a3647;
  color: #ffffff;
  transform: scale(1.1);
}

.section_two_style {
  width: 560px;
  height: 168px;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  gap: 48px;
  align-items: center;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.edit_png_section_two {
  background-color: #ff3d00;
  display: inline-block;
  width: 69px;
  height: 69px;
  border-radius: 35px;
}

.edit_png_section_two img {
  margin-left: 16.5px;
  margin-top: 18.5px;
}

.todoNumber2 {
  display: flex;
  align-items: center;
  gap: 45px;
}
.urgent {
  display: flex;
  align-items: center;
  gap: 18px;
}
.x {
  text-align: center;
  margin-bottom: 50px;
}
.date {
  font-size: 21px;
  font-weight: 700;
}

.section_three {
  display: flex;
  gap: 30px;
}

.section_three_card {
  width: 168px;
  height: 168px;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  gap: 18px;
  align-items: center;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.section_three_card:hover {
  background-color: #2a3647;
  color: #ffffff;
  transform: scale(1.1);
}

.good_morning {
  display: flex;
  flex-direction: column;
  margin-left: 670px;
  margin-top: -350px;
}

.day_time {
  font-weight: 500;
  font-size: 47px;
  line-height: 56.4px;
  width: 338px;
  height: 56px;
}
.user_name {
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  color: rgb(41, 171, 226);
  width: 385px;
  height: 77px;
  margin-top: 65px;
}



@media (max-width: 1400px){

    .good_morning {
        display: flex;
        flex-direction: column;
        margin-left: 250px;
        margin-top: 50px;
    }
    .user_name {
        margin-left: 50px;
        margin-top: 50px;    }
}

@media (max-width: 970px){

    .summary_headline{
        display: flex;
        margin-left: 250px;
        margin-top: 50px;
        gap: 16px;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: -32px;
    }
    
    .summary_headline h1{
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    margin-bottom: -30px
    }

    .summary_headline p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    order: 1;
    margin-bottom: -45px;
}

    .summary_headline img{
    height: 90px;
    rotate: 90;
    rotate: 90deg;
    order: 2;
    display: flex;
    margin-left: 40px;
}

    .summary_content{
       
            display: flex;
            margin-top: 30px;
            margin-left: 250px;
           
            height: 562px;
            flex-direction: column;
        }
    .x_img{
        height: 68px;
        width: 2px;
    }
    .good_morning {
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        margin-top: 50px;
    }
    .user_name{
      width: 310px;
    }
    
}

@media (max-width: 815px){
    .summary_content {
        display: flex;
        margin-top: 30px;
        margin-left: 250px;
        height: 562px;
        flex-direction: column;
        max-width: max-content;
    }
    .todo_number {
        width: 200px;
        height: 168px;
        background-color: #FFFFFF;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        gap: 18px;
        align-items: center;
        transition: transform 300ms ease-in-out;
        cursor: pointer;
    }
    .section_two_style {
        width: 435px;
        height: 168px;
        background-color: #ffffff;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        gap: 48px;
        align-items: center;
        transition: transform 300ms ease-in-out;
        cursor: pointer;
    }
    .todoNumber2 {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .section_three_card {
        width: 125px;
        height: 168px;
        background-color: #FFFFFF;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        gap: 18px;
        align-items: center;
        transition: transform 300ms ease-in-out;
        cursor: pointer;
    }
    .good_morning {
        margin-left: 160px;
    }
}

@media (max-width: 750px){
    .d-none{
    display: none;
  }
  
    .good_morning {
        display: flex;
        flex-direction: column;
        margin-right: 50%;
        margin-top: 50%;
        display: block;
    }
    .section_Summary {
      height: calc(85vh - 96px);
      overflow: visible;
  }

    .summary_headline{
    margin-left: 150px;
      
    }
    .summary_content {
      margin-left: 150px;
      width: 560px;
      flex-direction: column;

    }  
    
      .welcomeOverlayer{
    height: 100%;
    width: 100vh;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #F6F7F8;;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    }
}

.day_time {
    font-weight: 400;
    font-size: 36px;
    line-height: 43.2px;
    width: 252px;
    height: 43px;

}
.user_name {
    font-weight: 700;
    margin-top: 40px;
    font-size: 47px;
    line-height: 56.4px;
    margin-right: 50%;
    margin-left: 0px 
}
@media (max-width: 650px){
  .summary_content{
    margin-left: 120px;
  }
  .summary_headline{
    margin-left: 120px;
  }
}
@media (max-width: 600px){
  .summary_content{
    margin-left: 90px;
  }
  .summary_headline{
    margin-left: 90px;
  }
}
@media (max-width: 550px){
        .summary_content{
        margin-left: 15px;
        }
        .summary_headline {
            display: flex;
            margin-left: 15px;}
       .good_morning{
        margin-left: 20%;
       }
}

@media (max-width: 470px){
  .summary_headline{
    margin-left: 25px;
  }
  .summary_content {
    margin-left: 25px;
}
.section_one {
  display: flex;
  gap: 20px;
  top: 370px;
  top: 300px;
}
.section_three {
  display: flex;
  gap: 25px;
}
  .todo_number {
    width: 186px;
    height: 110px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}
.edit_png {
  background-color: #2A3647;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 35px;
}
.edit_png_1 {
  background-color: #2A3647;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 35px;
}
.todo_number svg {
  width: 15px;
  height: 23px;
  margin-left: 12.5px;
  margin-top: 7.5px;
}
.number {
  font-weight: 600;
  font-size: 47px;
  margin-bottom: -10px;
  line-height: 56.4px;
}
.todo {
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  margin-bottom: 0px;
}

.section_two_style {
  width: 396px;
  height: 110px;
}

.urgent {
  display: flex;
  align-items: center;
  gap: 5px;
}
.edit_png_section_two {
  background-color: #ff3d00;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 35px;
}
.edit_png_section_two img {
  margin-left: 8.5px;
  margin-top: 10.5px;
  width: 22.79px;
}
.date {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}
.section_three_card {
  width: 116px;
  height: 116px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 13px;
  align-items: center;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}
}  
@media (max-width: 370px){
  .good_morning {
    margin-left: 10%;
}

}

@media (max-width: 320px){

  .todo_number {
    width: 186px;
    height: 110px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}
.edit_png {
  background-color: #2A3647;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 35px;
}
.edit_png_1 {
  background-color: #2A3647;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 35px;
}
.todo_number svg {
  width: 15px;
  height: 23px;
  margin-left: 12.5px;
  margin-top: 7.5px;
}
.number {
  font-weight: 600;
  font-size: 47px;
  margin-bottom: -10px;
  line-height: 56.4px;
}
.todo {
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  margin-bottom: 0px;
}

.section_two_style {
  width: 320px;
  height: 110px;
}

.urgent {
  display: flex;
  align-items: center;
  gap: 5px;
}
.edit_png_section_two {
  background-color: #ff3d00;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 35px;
}
.edit_png_section_two img {
  margin-left: 8.5px;
  margin-top: 10.5px;
  width: 22.79px;
}
.date {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}
.section_three_card {
  width: 116px;
  height: 116px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 13px;
  align-items: center;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

}

@media (max-width: 430px) {
  .summary_headline{
    margin-left: 60px;
  }
  .summary_content {
    margin-left: 60px;
}
.section_one {
  display: flex;
  gap: 20px;
  top: 370px;
  top: 300px;
}
.section_three {
  display: flex;
  gap: 25px;
}
  .todo_number {
    width: 150px;
    height: 110px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}
.edit_png {
  background-color: #2A3647;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 35px;
}
.edit_png_1 {
  background-color: #2A3647;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 35px;
}
.todo_number svg {
  width: 15px;
  height: 23px;
  margin-left: 12.5px;
  margin-top: 7.5px;
}
.number {
  font-weight: 600;
  font-size: 47px;
  margin-bottom: -10px;
  line-height: 56.4px;
}
.todo {
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  margin-bottom: 0px;
}

.section_two_style {
  width: 320px;
  height: 110px;
}

.urgent {
  display: flex;
  align-items: center;
  gap: 5px;
}
.edit_png_section_two {
  background-color: #ff3d00;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 35px;
}
.edit_png_section_two img {
  margin-left: 8.5px;
  margin-top: 10.5px;
  width: 22.79px;
}
.date {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}
.section_three_card {
  width: 90px;
  height: 116px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 13px;
  align-items: center;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}
}  
    
@media (max-width: 390px){
  .summary_content {
    margin-left: 25px;
}
.summary_headline{
  margin-left: 25px;
}
}
    















    



    
    

   




  

   
    
    
    









